.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5rem;
  background-color: #0597b0;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  z-index: 10;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  box-sizing: border-box;
}

.main-image {
  width: 100%;
  height: 28rem;
  z-index: 0;
  margin-top: 80px;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
