.form {
  text-align: center;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #2d252e;
  border: 1px solid #2d252e;
  color: #fff;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #641e03;
  border-color: #641e03;
}
