.cart-items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 0.5rem 2rem;
  border-radius: 15rem;
  margin-left: 1rem;
  width: 100px;
  height: 2.5rem;
}
.actions .button-close:hover,
.actions .button-close:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: #fff;
}

.actions .button-close {
  background-color: #8a3b06;
  color: white;
  border-color: #8a3b06;
}
