.button {
  font: inherit;
  border: 1px solid #1992e2;
  background: #1992e2;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover,
.button:active {
  border: 1px solid #167fc5;
  background: #2289cf;
  border-radius: 10px;
}

.button:focus {
  outline: none;
}
