form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.control {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.control label {
  /* display: block; */
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: left;
}
.control input {
  /* display: block; */
  width: 100%;
  font: inherit;
  padding: 0.2rem;
  border-radius: 12px;
  border: 1px solid #ccc;
}

.control input:focus {
  outline: none;
  border-color: 230052;
}
