.navigation {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
}
.navigation li {
  margin-right: 1rem;
  list-style: none;
}

.navigation li a {
  text-decoration: none;
}
.navigation li a:hover,
.navigation li a.active {
  background-color: #000;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
