* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #252525;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #6f0080;
  border: 1px solid #6f0080;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #470252;
  border-color: #470252;
}
.counter {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 40rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
}

.counter h1 {
  text-transform: uppercase;
  color: #575757;
  margin: 0;
  font-size: 1rem;
}

.value {
  font-size: 2rem;
  color: #6f0080;
  margin: 2rem 0;
  font-weight: bold;
}
