@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #ededed;
}
