* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  background-color: #dddddd;
}

.app {
  width: 90%;
  max-width: 43rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: white;
  margin: 3rem auto;
}

.form-control {
  margin-bottom: 1rem;
}

.form-control input,
.form-control label {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-control input:focus {
  outline: none;
  border-color: #c4c4c4;
  background-color: #fef3f3;
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.control-group .form-control {
  min-width: 15rem;
  flex: 1;
}

button {
  font: inherit;
  background-color: #840680;
  color: white;
  border: 1px solid #840680;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #550552;
  border-color: #550552;
}

button:disabled,
button:disabled:active,
button:disabled:hover {
  background-color: #ccc;
  border-color: #ccc;
  color: rgb(32, 30, 30);
  cursor: not-allowed;
}

.form-actions {
  text-align: right;
}

.form-actions button {
  margin-left: 1rem;
}

.invalid input {
  border: 1px solid #b50909;
  background-color: #fbe1e1;
}

.invalid input:focus {
  border-color: #ff8800f8;
  background-color: #f6e0c8;
}

.error-text {
  color: #c50808;
}
