@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  margin: 5rem;
}
.icon-item {
  font-size: 33px !important;
  vertical-align: middle !important;
}

.item {
  padding: 1rem !important;
  border-bottom: 1px solid #ccc;
}
.ui.menu {
  border-radius: 0 !important;
}

.favorite-btn {
  float: right;
}

.ui > div {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
